In [ ]:

import pandas as pd
import numpy as np
from sklearn import linear_model

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
root_path='gdrive/My Drive'

In [ ]:
df=pd.read_csv('gdrive/My Drive/homeprices.csv')

In [ ]:
df

   area   bedrooms  age   price
0   2600       3.0   20  550000
1   3000       4.0   15  565000
2   3200       NaN   18  610000
3   3600       3.0   30  595000
4   4000       5.0    8  760000
5   4100       6.0    8  810000

Data Preprocessing: Fill NA values with median value of a column

In [ ]:
df.bedrooms.median()

4.0

In [ ]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())

In [ ]:
df

   area   bedrooms  age   price
0   2600       3.0   20  550000
1   3000       4.0   15  565000
2   3200       4.0   18  610000
3   3600       3.0   30  595000
4   4000       5.0    8  760000
5   4100       6.0    8  810000

In [ ]:
reg = linear_model.LinearRegression()

In [ ]:
reg.fit(df.drop('price',axis='columns'),df.price)

LinearRegression()

In [ ]:
reg.intercept_

221323.00186540396

Find price of home with 3000 sqr ft area, 3 bedrooms, 40 year old

In [ ]:

reg.predict([[3000, 3, 40]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

In [ ]:
112.06244194*3000 + 23388.88007794*3 + -3231.71790863*40 + 221323.00186540384

498408.25157402386

Find price of home with 2500 sqr ft area, 4 bedrooms,  5 year old

In [ ]:
reg.predict([[2500, 4, 5]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([578876.03748933])